<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>924477188985-j5s21ktkbikguvtd4l5ctbuvvhqmt61f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924477188985-j5s21ktkbikguvtd4l5ctbuvvhqmt61f</string>
	<key>API_KEY</key>
	<string>AIzaSyDQAxsK5zlgW3faPuBmCufJjVECOkMA7Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>924477188985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xxx1-0.snap1</string>
	<key>PROJECT_ID</key>
	<string>snap1-e30ac</string>
	<key>STORAGE_BUCKET</key>
	<string>snap1-e30ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:924477188985:ios:73a1224f2e81be97</string>
	<key>DATABASE_URL</key>
	<string>https://snap1-e30ac.firebaseio.com</string>
</dict>
</plist>